<launch>

   <!-- Launch file for making a turtle in the turtle simulator move in a rectangular trajectory -->

   <!-- Load Turtle Parameters -->
  <rosparam command="load" file="$(find trect)/config/turtle_params.yaml" />

   <!-- Load Turtlesim -->
  <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" output="screen" />

   <!-- Load Turtle_rect.cpp Node -->
  <node name="turtle_rect" pkg="trect" type="trect_node" output="screen" >
    <remap from="cmd_vel" to="turtle1/cmd_vel" />
  </node>

</launch>