<launch>

   <!-- Launch file for visualizing my_turtlebot3 differential drive robot in Rviz -->

   <!-- Define Default Arguments -->
   <arg name="use_rviz" default="True" doc="The use_rviz parameter controls whether rviz and the joint_state_publisher are launched (default true)"/>

   <!-- Load Model Parameters -->
   <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />
   <param name="robot_description" command="$(find xacro)/xacro '$(find nuturtle_description)/urdf/my_turtlebot3.urdf.xacro'"/>

   <!-- Define Robot & Joint State Publishers -->
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />

   <!-- Load Robot Model in Rviz -->
   <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nuturtle_description)/config/my_turtle_view.rviz" />
   </group>

</launch>